<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="#">About</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br><br />

<h2> Exercise 1.5</h2>
<div class="row">
  <div class="column" style="background-color:rgb(248, 248, 248);">
   <img src="/assets/larry_profile.jpg" alt="myface" width="180, 100%" height="170, 100%">
  </div>
  <div class="column" style="background-color:rgb(241, 241, 241);">
   <ul>
     <h2>Profile</h2>
     <li><b>Full Name:</b> Larry Ohaka</li>
     <li><b>Favorite Food:</b> Chicken Fried Rice</li>
     <li><b>Favorite Color:</b> Orange</li>
   </ul>
  </div>
</div>
</div>
