<div class="composer-bio">
  <img src="./assets/Duke_Ellington_.jpeg" width="140px" height="170px" style="float: left; padding: 20px;">
<h2>Duke Ellington</h2>
<p>Duke Ellington, born Edward Kennedy "Duke" Ellington, was African American composer, pianist, and leader to jazz orchestra. His rise to recognition begin in the earl 20s and he gained orchestral recognition by making appearances at the Cotton Club in Harlem. His first stage performance was in 1917 around the DC Virginia area  with a group her created, The Duke's Serenaders. However, even after the success of this band Duke was convinced by his drummer and friend, Sonny Greer, to join the Wilber Sweatman Orchestra in New York City.

  He leaves a legacy of infulential music which has inspirde dances crazes like the Charleston.

</p>
</div>
